* {
  background-color: #060e1f;
}

.App {
  text-align: center;
}

#home {
  text-align: center;
  border-style: solid;
  border-color: #1d061f;
  color: white;
  border-radius: 25px;
  margin-top: 50px;
  background-color: #1d061f;
  display: inline-block;
  padding: 20px;
  padding-top: 10px;
}
#home p,strong {
  background-color: inherit;
}

#features {
  text-align: center;
  color: white;
  margin-top: 50px;
}

#features p {
  background-color: inherit;
}

.feature1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this property to control horizontal spacing */
  align-items: center; /* Vertically center items */
}

.content1{
  text-align: center;
  border-style: solid;
  border-color: #1d061f;
  color: white;
  border-radius: 25px;
  margin-top: 0px;
  margin-right: 90px;
  background-color: #1d061f;
  display: inline-block;
  padding: 90px 30px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  flex: 2
}

.personalized img {
  max-height: 400px;
  max-width: 500px;
  position:relative;
  z-index: 1;
}

.personalized {
  flex: 1;
  text-align: left;
  margin-left: 90px;
}

.explore img {
  max-height: 400px;
  max-width: 500px;
  position:relative;
  z-index: 1;
}

.explore{
  text-align: right;
  margin-right: 90px;
}

.profiling img {
  max-height: 400px;
  max-width: 500px;
  position:relative;
  z-index: 1;
}

.profiling{
  text-align: right;
  margin-right: 90px;
}

.ml img {
  max-height: 400px;
  max-width: 500px;
  position:relative;
  z-index: 1;
}

.ml{
  text-align: left;
  margin-left: 90px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #060e1f;
  color: #060e1f;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #060e1f;
  z-index: 2;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.Logo img {
  max-height: 100px;
  max-width: 100px;
  position:relative;
  top: 10px;
  left: 10px;
}

.Image img {
  max-height: 720px;
  max-width: 850px;
  position:relative;
  top: 10px;
  left: 20px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.Image {
  text-align: center;

}
.buttons button {
  margin-left: 10px;
  background-color: #060e1f;
  color:#d9d9d9;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  transition: tranform 0.3s;
  margin-top: -5px;
  position:relative;
  top: 10px;
  right: 20px;
  font-size:medium;
  }

  .buttons {
    display: flex; /* Make the buttons display inline */
    align-items: center;
  }

  .buttons.right {
    margin-left: auto; /* Auto margin pushes buttons to the right */
  }

  .buttons.right button:last-child {
    margin-right: 35px; /* Adjust the margin as needed */
  }

.buttons button:hover {
    color: white;
    transform: scale(1.2);
    margin-top: 10px;
}

.content {
  padding: 20px;
}

h1{
  background: linear-gradient(to right, #00dbde 20%, #fc00ff 80%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-bottom: 5px;
  font-family: 'Calibri';
  font-weight: 700;
}

h2{
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-top: 8px;
  font-family: 'Calibri';
  font-weight: 700;
}