* {
  background-color: #060e1f;
}

#home {
  text-align: center;
  border-style: none;
  color: white;
  border-radius: 25px;
  background-color: #FFFF80;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #060e1f;
  color: #060e1f;
}

.Logo img {
  max-height: 100px;
  max-width: 100px;
  position:relative;
  top: 10px;
  left: 20px;
}

.Image img {
  max-height: 720px;
  max-width: 850px;
  position:relative;
  top: 10px;
  left: 20px;
}

.buttons button {
  margin-left: 10px;
  background-color: #060e1f;
  color:#d9d9d9;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  transition: tranform 0.3s;
  margin-top: 10px;
  position:relative;
  top: 10px;
  right: 20px;
  font-size:medium;
  
  }
.buttons button:hover {
    color: white;
    transform: scale(1.2);
    margin-top: 10px;
}

.content {
  padding: 20px;

}

h1 , h2{
  background: linear-gradient(to right, #64bfe7,#2b1a69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
