.App {
  text-align: center;
  
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #060e1f;
  color: #060e1f;
}

.logo img {
  max-height: 50px;
  max-width: 50px;
}

.buttons button {
  margin-left: 10px;
  background-color: #060e1f;
}

.content {
  padding: 20px;
}
